body {
	background: #2C3E50;
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.steel {
	background-color: #B8B8D0;
}

.fire {
	background-color: #F08030;
}

.grass {
	background-color: #78C850;
}

.electric {
	background-color: #F8D030;
}

.water {
	background-color: #6890F0;
}

.ice {
	background-color: #98D8D8;
}

.ground {
	background-color: #E0C068;
}

.rock {
	background-color: #B8A038;
}

.fairy {
	background-color: #EE99AC;
}

.poison {
	background-color: #A040A0;
}

.bug {
	background-color: #A8B820;
}

.dragon {
	background-color: #7038F8;
}

.psychic {
	background-color: #F85888;
}

.flying {
	background-color: #A890F0;
}

.fighting {
	background-color: #C03028;
}

.normal {
	background-color: #A8A878;
}

.dark {
	background-color: #705848;
}

.ghost {
	background-color: #705898;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

.logo {
	width: 100%;
	max-width: 365px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
  }

   .logo { 
    max-width: 250px;
  }